@media (min-width: 576px) {
    .Champion-Header {
        // float:left;
        margin-top: 5%;
    }
    img {
        width:5vw;
        height: 100%;
    }
}
  
@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1900px) {

}

@media (min-width: 2560px) {
    
}
    
@media (min-width: 3000px) {
    
}