@media (min-width: 376px) {
    .Champion-Header {
        float:left;
        font-size:0.4em;
        margin:5px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 9%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:1%;
        font-size:0.4em;
    }
    .Champion-css {
        float:left;
        width: 12%;
        height: 45%;
        margin-top: 5%;
        margin-left:1%;
        font-size:0.4em;
    }
    .Team {
        float:left;
        width: 29.5%;
        height: 45%;
        margin-top: 1%;
        margin-left:1%;
        font-size:0.4em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:5.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}

@media (min-width: 476px) {
    .Champion-Header {
        float:left;
        font-size:0.3em;
        margin:5px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 9%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:1%;
        font-size:0.3em;
    }
    .Champion-css {
        float:left;
        width: 12%;
        height: 45%;
        margin-top: 5%;
        margin-left:1%;
        font-size:0.3em;
    }
    .Team {
        float:left;
        width: 29.5%;
        height: 45%;
        margin-top: 1%;
        margin-left:1%;
        font-size:0.3em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:5.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}
@media (min-width: 768px) {
    .Champion-Header {
        float:left;
        font-size:0.5em;
        margin:5px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 10%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:1%;
        font-size:0.5em;
    }
    .Champion-css {
        float:left;
        width: 13%;
        height: 45%;
        margin-top: 5%;
        margin-left:1%;
        font-size:0.5em;
    }
    .Team {
        float:left;
        width: 29.5%;
        height: 45%;
        margin-top: 1%;
        margin-left:1%;
        font-size:0.5em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:6vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}

@media (min-width: 992px) {
    .Champion-Header {
        float:left;
        font-size:0.6em;
        margin:10px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 12%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:1.5%;
        font-size:0.6em;
    }
    .Champion-css {
        float:left;
        width: 13%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:0.6em;
    }
    .Team {
        float:left;
        width: 27%;
        height: 45%;
        margin-top: 1%;
        margin-left:1.5%;
        font-size:0.6em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:6.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}

@media (min-width: 1200px) {
    .Champion-Header {
        float:left;
        font-size:0.9em;
        margin:10px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 11%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:2%;
        font-size:0.7em;
    }
    .Champion-css {
        float:left;
        width: 14%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:0.7em;
    }
    .Team {
        float:left;
        width: 26%;
        height: 45%;
        margin-top: 1%;
        margin-left:2%;
        font-size:0.7em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:6.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }

}

@media (min-width: 1400px) {
    .Champion-Header {
        float:left;
        font-size:0.9em;
        margin:10px;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 13%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:2%;
        font-size:0.8em;
    }
    .Champion-css {
        float:left;
        width: 13%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:0.8em;
    }
    .Team {
        float:left;
        width: 26%;
        height: 45%;
        margin-top: 1%;
        margin-left:2%;
        font-size:0.8em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:6.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}

@media (min-width: 1900px) {
    .Champion-Header {
        float:left;
        font-size:0.9em;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 20%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:2%;
        font-size:0.9em;
    }
    .Champion-css {
        float:left;
        width: 18%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:0.9em;
    }
    .Team {
        float:left;
        width: 18%;
        height: 45%;
        margin-top: 1%;
        margin-left:2%;
        font-size:0.9em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:4.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }

}

@media (min-width: 2560px) {
    .Champion-Header {
        float:left;
        font-size:0.9em;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 20%;
        height: 45%;
        margin-top: 5.2%;
        margin-left:2%;
        font-size:0.9em;
    }
    .Champion-css {
        float:left;
        width: 20%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:0.9em;
    }
    .Team {
        float:left;
        width: 18%;
        height: 45%;
        margin-top: 1%;
        margin-left:2%;
        font-size:1em;
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:4.5vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:1.5%
    }
}
    
@media (min-width: 3000px) {
    .Champion-Header {
        float:left;
        font-size:1.1em;
        // margin-top: 5%;
    }
    .Champion-kda {
        float:left;
        width: 20%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:1.55em;
    }
    .Champion-css {
        float:left;
        width: 20%;
        height: 45%;
        margin-top: 5%;
        margin-left:2%;
        font-size:1.55em;
    }
    .Team {
        float:left;
        width: 18%;
        height: 45%;
        margin-top: 1%;
        margin-left:2%;
        font-size:1.3em;
        
    }
    .Champion-Content {
        float:left;
        width:60%;
        height: 100%;
    }
    img {
        float:left;
        width:6vw;
        height: 100%;
    }
    .Thumb-Mini {
        float:left;
        width:10%;
    }
    .Team-List {
        margin-top:5.5%
    }
}